
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

*{
    font-family: 'Noto Sans TC', sans-serif;
}

.title{
    font-weight: 300;
    font-size: 5em;
    color: white;
}
body {-moz-user-select : none;-webkit-user-select: none;}
.centerBox{
    z-index: 1;
    width: auto; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition: 1s;
}

.backgroundBlur{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: blur(20px);
    z-index: -10;
    transform: scale(1.1); 
}

.fullcontainer{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}


a { 
    text-align:center;
    color: gray;
    text-decoration: none;
    transition:0.2s;
}

a:hover {
    color: gray;
    text-decoration: none;
}

a:link {
    color: gray;
    text-decoration: none;
}

a:visited {
    color: gray;
    text-decoration: none;
}

a:active {
    color: gray;
    text-decoration: none;
}